/* COLOR PALLETTE */
/*
main background: #1b1b1b;
boxes: #262626;
lighter-boxes: #323232;

lime-green: #7eda64
sea-green: #0d7479

pink: #da64ab
purple: #750d79

light grey: #4a4a48
dark grey: #171717

gradient orange: linear-gradient(90deg, #ff6400 0%, #b10c07 100%);
gradient green: linear-gradient(90deg, #7eda64 0%, #0d7479 100%);
gradient purple: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
grey gradient: linear-gradient(90deg, #4a4a48 0%, #171717 100%);
*/


/* --- MAIN --- */
html {
    width: 100svw;
    height: 100svh;
    font-size:100%;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0px;
    padding: 0px;
    background: #1b1b1b;
    font-family: 'Poppins', sans-serif;
	  color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* --- MAIN ELEMENTS --- */
.container2{
  height:100svh;
  width: 100svw;
  margin: 0px;
  padding: 0px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.main-box {
  margin: 5svw;
  height: 70svh;
  width: 70svw;
  border-radius: 30px;
  border: 0.5px solid #5B5555;
  background-color: #262626;
  display: flex;

}


.half {
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  border-radius: 1.875rem;
  overflow-y: scroll;
}

.login {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
}
.login-menu h2 {
  margin-bottom: 40px;
}
.login-menu form {
  display:flex;
  align-items:center;
  justify-content:center;
}

#map{
  display: inline-block;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  height: 100%;
  width: 100%;
}

.marker {
  color: #ff52ba;
  font-size: 30px;
}

.popup-info {
  display:flex;
}

#class-list {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  padding: 1.875rem;
}

@media (max-width: 600px) {
  .main-box {
    flex-direction: column;
    height: 85svh;
    width: 80svw;
    /* overflow-y: scroll; */
  }
  .half img {
    margin-left: auto;
    margin-right: auto;
  }
  .login {
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: 0px;
  }
  .login-menu h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #map{
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

@media (orientation: portrait) and (min-width: 600px) {
  .loginbox {
    margin-top: 250px;
    height: 50svh;
  }
  .login img {
    transform: translateX(-220px);
  }
}

/* not active until clicked */
#class-search {
  display: flex;
}

/* not active until clicked */
#class-details {
  display: none;
}

/* not active until clicked */
#edit-profile {
  display: none;
}

/* not active until clicked */
#profile-calendar {
  display: none;
}

/* not active until clicked */
#classes_list {
  display: none;
}

.class-info {
  width: 100%;
  padding: 0.625rem 0rem 0.625rem 0rem;
  display: grid;
  grid-template-columns: 10% 32% 37% 15%;
  grid-template-rows: 100%;
  border-bottom: 0.1px solid #cccccc;
}

.class-info-calendar {
  width: 100%;
  padding: 0.825rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid #da64ab;
  border-radius: 20px;
}

.profile-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.profile-menu-div {
  height: 100%;
  width: 100%;
  padding: 20px;
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  background: #323232;
  align-items: center;
  justify-content: center;
}

.profile-menu-div:first-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-menu-div:nth-child(2){
  padding: 0px;
  background:none;
  flex-direction: row;
  gap: 15px;
}

.profile-menu-div:nth-child(3){
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-picture {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;

}

@media (max-width: 600px) {
  #class-list {
    padding: 0.5rem;
  }
  .class-info {
    width: 80%;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #class-search {
    flex-direction: column;
    height: 85svh;
    width: 80svw;
  }
  #map{
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

/*class details*/
.class-descr-div {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  margin-bottom: -30px;
  background: #323232;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.empty-bar {
  height: 5px;
  width: 70%;
  background-color: grey;
  border-radius: 2.5px;
  margin-left: 7px;
  align-self: center;
  justify-self: end;
  position: relative;
}

.color-bar {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 2.5px;

/*moving */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.review {
  width: 100%;
  background-color: #414141;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.studio-logo {
  height: 50px;
  width: 100px;
  object-fit: contain;
}

.class-photo {
  height: 220px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  object-fit: fill;

}

.signing_up_popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction:column;
  min-height: 10svh;
  min-width: 20svw;
  /* moving the popup by half width & half height */
  margin-top: -5svh;
  margin-left: -10svw;
  border-radius: 30px;
  border: 0.5px solid #5B5555;
  background-color: #262626;
  color: white;
  padding: 20px;
  z-index: 10;
}

#class-details-half1 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#class-details-half2{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 30px;
  padding-top: 20px;
}

@media (max-width: 600px) {
  #class-details {
    height: auto;
  }
  #class-details-half1 {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }
  #class-details-half1 .profile-menu {
    padding: 0px;
  }
  .profile-menu-div img {
    border-top-right-radius: 1.875rem;
  }
  #class-details-half2 {
    padding: 0px;
  }

}

@media (orientation: portrait) and (min-width: 600px) {
  #class-details {
    flex-direction: column;
    height: 85svh;
    width: 80svw;
  }
  #class-details-half1 {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }
  #class-details-half1 .profile-menu {
    padding: 0px;
  }
  .profile-menu-div img {
    border-top-right-radius: 1.875rem;
  }
  #class-details-half2 {
    padding: 0px;
  }
}


/*calendar*/
#profile-calendar .half,
#classes_list .half,
#edit-profile .half,
#credits-panel .half,
#add-credits-panel .half,
#change-plan .half,
{
  width: 80%;
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.second {
  margin-right: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 20px; overflow-y: clip;
}

.calendar-heading-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #323232;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 15px;
}


.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 15px;
  background: #323232;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar-title {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  margin: 20px 5px;
  font-size: 0.8rem;
}

.calendar-days {
  display: grid;
  height: 55%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4px 16px;
}

.day {
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  padding: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}

.day2 {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  border-radius: 50%;
  padding: 3px;
  font-size: 0.8rem;
}


.today {
  height: 45px;
  width: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #da64ab;
  border: 0.1px solid #da64ab;
  border-radius: 50%;
  padding: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}


.day:hover {
  box-shadow: 0 0 10px #da64ab;
}


.today:hover {
  box-shadow: 0 0 15px #da64ab;
}

.padding-weekday-head {
  padding: 5px;
  margin: 5px;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px 15px;
  background: #323232;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  gap: 10px;
  overflow-y: scroll;
}

.small-middle {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #323232;
  border-radius: 10px;
  padding: 10px;
}

.explanation{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.explanation2{
  width: 100%;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 50px;
}

.explanation3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-bottom: 0.5px solid white;
}


.expl-inner{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 150px;
}

.expl-inner-inner {
  display:flex;
  flex-direction:column;
  width: 350px;
  margin-right: auto;
}
#credits_details .credits-details-01 {
  width: 100%;
  padding: 30px 20px;
  align-items:center;
  text-align: center;
  justify-content: center;
  padding: auto;
}
.credits-details-01 .credits-details-02{
  display:flex;
  justify-content: space-around;
}

@media(max-width:600px) {
  .main-box {
    height: auto;
  }
  #profile-calendar,
  #classes_list,
  #edit-profile,
  #credits-panel,
  #add-credits-panel,
  #change-plan,
  {
    height: auto;
  }
  .expl-inner {
    flex-direction: column;
    align-items:center;
    margin-bottom:100px;
  }
  .expl-inner-inner {
    padding: 15px;
  }
  .calendar-heading-div {
    border-radius: 0px;
  }
  #profile-calendar .half,
  #classes_list .half,
  #edit-profile .half,
  #credits-panel .half,
  #add-credits-panel .half,
  #change-plan .half,
  {
    width: 100%;
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }
  .profile-menu {
    padding-left: 0px;
    padding-right: 0px;

  }
  .second {
    padding: 0px;
  }
  .second .calendar-heading-div {
    margin-top: 20px;
  }
  #calendar {
    padding: 0px;
    padding-bottom: 50px;
  }
  .calendar-days {
    transform: scale(0.85);
  }

  #classes-list {
    height: auto;
  }
  #list {
   padding-bottom: 100px;
  }

  .edit-information-div {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
    width: 100%;
  }
  .edit-information-div form {
    padding: 0px;
    margin: 0px;
  }
  .edit-information-div form .form-group {
    padding: 0px;
    margin: 0px;
    padding-bottom: 100px;
  }

  .credits-details-02 {
    display: flex;
    flex-direction: column;
  }
}
@media (orientation: portrait) and (min-width: 600px) {
  #profile-calendar,
  #classes_list,
  #edit-profile,
  #credits-panel,
  #add-credits-panel,
  #change-plan
  {
    height: auto;
    flex-direction: column;
    height: 85svh;
    width: 80svw;
    padding-bottom: 20px;
  }

  .calendar-heading-div {
    border-radius: 0px;
  }

  #profile-calendar .half,
  #classes_list .half,
  #edit-profile .half,
  #credits-panel .half,
  #add-credits-panel .half,
  #change-plan .half,
  {
    width: 100%;
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }
  .profile-menu {
    padding-left: 0px;
    padding-right: 0px;

  }
  .second {
    padding: 0px;
  }
  .second .calendar-heading-div {
    margin-top: 20px;
  }
  #calendar {
    padding-bottom: 50px;
  }


  #classes-list {
    height: auto;
  }
  #list {
   padding-bottom: 100px;
  }

  .edit-information-div {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
    width: 100%;
  }

  .edit-information-div form .form-group {
    padding-bottom: 100px;
  }
}

.mockup-users{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.plans-list {
  width: 60vw;
  overflow-x: auto;
  display:flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
}

.plans-check-list {
  margin: 100px;
}

.mockup-plan{
  flex: none;
  width: 250px!important;
  height: 150px!important;
  border-radius: 20px;
  border: 0.5px solid #5B5555;
  background-color: #262626;
  padding: 20px;
  text-align: left;
}

.invisible-plan {
  flex: none;
  width: 250px!important;
  height: 150px!important;
  border-radius: 20px;
  border: none;
  background-color: #1b1b1b;
}


/* --- Accordion --- */
.accordion-main-div {
  width: 80%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:30px;
}

.accordion {
  width: 100%;
  background: #323232;
  color: white;
  margin: 30px;
  border: none;
  outline: none;
}

.accordion-item {
  width: 100%;
  background: #323232;
  color: white;
  border: none;
  outline: none;
}

.accordion-button {
  background: #323232;
  color: white;
}

.accordion-button.collapsed::after {
  filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed) {
  background: #323232;
  color: white;
}

.accordion-header {
  background: #1b1b1b;
  color: white;

}

.accordion-body {
  background: #1b1b1b;
  color: white;
}

.mockup-user-example {
  width: 400px;
  border-radius: 20px;
  border: 0.5px solid #5B5555;
  background-color: #262626;
  padding: 20px;
}

.mockup-user-example div {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: start;
  padding: 10px 0px 10px 0px;
}

@media(max-width:600px){
  .mockup-users {
    width: 100%;
    gap: 15px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }
  .mockup-user-example{
    width: 100%;
    transition: 0.5s ease-in;
  }

  .profile-picture{
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
  .mockup-user-example div {
    padding: 4px 0px 4px 0px;
  }
}

.popup-number{
  height: 24px;
  width: 30px;
  background: #323232;
  color: white;
  font-size: 10px;
  border-radius:12px;
  margin: 10px;
  text-align: center;
  padding: 7px;
}

.popup-number2{
  height: 30px;
  width: 60px;
  background: #da64ab;
  color: white;
  font-size: 12px;
  border-radius:15px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 6px;
}

.credits-gif {
  object-fit: scale-down;
  width:350px;
  margin:0px;
  padding:0px;

}


/* --- CHANGE PLAN SECTION --- */
.change-plan-in-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  padding: 20px;
}

.available-plan{
  min-width: 90%;
  padding: 0.825rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid #5B5555;
  border-radius: 20px;
  transition: transform 0.5s;
}

.available-plan:hover {
  border: 0.1px solid #da64ab;
  box-shadow: 0 0 10px #da64ab;
}

.plan-name-tag {
  padding: 0.825rem;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #da64ab;
  border: 0.1px solid #da64ab;
}

.full-row {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}


/*--- ABOUT US SECTION ---*/
.icon-grid{
  margin:30px 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:50px;

}

.icon-grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-image {
  padding: 0px;
  width: 100%;
  object-fit: contain;
}

/*--- LOCATIONS SECTION ---*/
.locations-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
}

.locations-grid div {
  padding: 20px;
}
/* --- LOGIN & SIGNUP --- */
.login-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.form-group-login {
  display:flex;
  flex-direction:column;
  align-items:center;
}

form input {
  height: 30px;
  width: 300px;
  background: #323232;
  color: white;
}

.form-control:focus{
  border: 0.7px solid #da64ab;
  box-shadow: 0 1px 0 #da64ab inset;
  outline: 0 none;

}

input::placeholder {
 font-size: 12px;
}


.login-button {
  height: 25px;
  width: 250px;
  background: #1b1b1b;
  color: #da64ab;
  border: 0.7px solid #da64ab;
  border-radius: 12.5px;
  font-size: 12px;
  margin: 5px;
  padding: 4px;

}

.login-button:hover {
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  border: 0.7px solid #da64ab;
  box-shadow: 0 0 15px #750d79;
}

.try-button {
  height: 25px;
  width: 250px;
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  border: 0.7px solid #da64ab;
  border-radius: 12.5px;
  font-size: 12px;
  margin: 5px;
  padding: 4px;
}

.try-button-big {
  height: 35px;
  width: clamp(200px, 300px, 350px);
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  border-radius: 17.5px;
  font-size: 14px;
  margin: 15px;
  padding: 5px;
  border: none;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.try-button-big2 {
  height: 35px;
  width: clamp(200px, 300px, 350px);
  background: none;
  color: #da64ab;
  border-radius: 17.5px;
  font-size: 14px;
  margin: 15px;
  padding: 5px;
  border: 1px solid #da64ab;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}



/* --- FORMS ---*/
.edit-information-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #323232;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

form {
  width: 100%;
  padding: 0px;
  margin: 10px;
  display: flex;
  align-items:center;
}

.form-group, .form-group2 {
  width: 100%;
  margin: 3rem;
  padding: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}
.form-group2 {
  padding-top: 5rem;
  grid-template-rows: auto;
}

.form-group-review {
  width: 100%;
  padding: 0px;
  margin: 2rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 3fr 1fr 1fr;
  gap: 1rem;
}

.edit_data_from {
  min-height: 2rem;
  width: 100%;
  font-size: 0.725rem;
  background: rgba(255, 255, 255, 0.2);
  border: 0.1px solid #5B5555;
  border-radius: 7px;
  padding: 3px;
}

.edit-info-label {
  font-size: 0.825rem;
  padding: 3px;
}

.edit_data_file {
  height: 2rem;
  width: 100%;
  font-size: 0.725rem;
  background: rgba(255, 255, 255, 0.2);
  border: 0.1px solid #5B5555;
  border-radius: 7px;
  padding: 3px;
}


/* --- partner signup forms */
.partner-registration-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (4, 1fr);
  gap: 10px;
}

#partner-regist-form-button-div {
  grid-column: 1 / 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.partner-form {
  height: 30px;
  width: 300px;
  background: #323232;
  color: white;
  border-radius: 10px;
  border: 0.7px solid #da64ab;
  font-size: 12px;
}

.partner-form:focus{
  border: 0.7px solid #da64ab;
  box-shadow: 0 1px 0 #da64ab inset;
  outline: 0 none;
}

.partner-registration-form div label {
  font-size: 12px;
  margin-bottom: 5px;
}

/* --- TEXTS --- */
.big-title {
  font-size: 2.25rem;
  font-weight: 700;
}

h1 {
 font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: clamp(0.875rem, 1.4vw, 1rem);
  margin: 3px;
}

h4 {
  font-size: clamp(0.625rem, 1.3vw, 0.9rem);
  margin: 3px;
}

h5 {
  font-size: clamp(0.625rem, 1.25vw, 0.8rem);
  font-weight: 200;
  margin: 3px;
}

h6 {
  font-size: clamp(0.525rem, 1.2vw, 0.625rem);
  font-weight: 200;
  margin: 3px;
}

p{
  font-size: clamp(0.525rem, 1.0vw, 0.75rem);
  margin-bottom: 3px;
}

.bigger-p{
  margin: 10px 250px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}




/* --- NAVBAR --- */
.login-circle {
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border:none;
  outline:none;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  margin: 15px 35px 15px 20px;
}

.navbar-custom {
  width: 100svw;
  background-color: #1b1b1b;
  border-bottom: 0.7px solid white;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  margin: 30px;
}


.navbar-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  list-style-type: none;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 15px;
  display: block;
  transition: transform 0.5s;
  font-size: 12px;
}


.navbar-item {
  color: white;
  margin: 15px;
}

.toggle-button {
  display: none;
  position: absolute;
  top: 2.0rem;
  right: 2.0rem;
  flex-direction:column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.small-button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  outline: 0.1 solid white;
  border: none;
  background-color: rgba(180, 180, 180, 0);
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.simple {
  background: none;
  border: none;
  outline: none;
  color: white;
  transition: transform 0.5s;
}

.simple:hover {
  color: #da64ab;
}

.simple-disactivated {
  background: none;
  border: none;
  outline: none;
  color: #9A9A9A;

}


.simple-visible {
  background: #414141;
  border: 0.5px solid #5B5555;
  border-radius: 10px;
  outline: none;
  color: white;
  transition: transform 0.5s;
  padding: 20px;
  margin: 0px;
  min-height: 3rem;
  min-width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.simple-visible:hover {
  background: #474747;
  color: #da64ab
}

.edit-profile-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #da64ab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  font-size: 0.625rem;
  margin-top: -20px;
  margin-left: 60px;
}

.edit-profile-button:hover {
  box-shadow: 0 0 15px #da64ab;
}

.navbar-item:nth-child(4),.navbar-item:nth-child(5) {
  display:none;
}

.navbar-link:hover {
  color: #da64ab;
  text-decoration: none;
  margin: 15px;
  font-weight:500;
  transform: scale(1.2, 1.2);
}


@media (max-width: 600px) {

  .toggle-button {
    display: flex;
  }

  .navbar-item:nth-child(4),.navbar-item:nth-child(5) {
    display: block;
    text-align: center;
  }

  .navbar-custom {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width:100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;

  }

  .navbar-links ul li {
    width:100%;
    text-align: center;
  }

  .navbar-links.active {
    display:flex;
  }

  .login-circle {
    display: none;
  }

  .navbar-item:hover {
    color: #da64ab;
    text-decoration: none;
    margin: 15px;
    font-weight:500;
    transform: scale(1.2, 1.2);
  }
}



/*---dropdown---*/
.dropdown-menu {
  background: #262626;
  color: white;
  border: 0.5px solid #5B5555;
}
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
  color: white;
}

.dropdown-item:hover {
  background: #323232;
  color: #da64ab;
}


.dropdown-item p {
  width: 100%;
  margin: 5px;
}

.dropdown-item i {
  padding: 8px;
  margin-right: 5px;
}

.dropdown-item span {
  font-size: 16px;
  transition: transform 0.5s;
}

.dropdown-item:hover span {
  font-size: 16px;
  transform: translateX(5px);
}

.dropdown-item:hover p {
  font-weight: 500;
}



/*--- BOTTOMBAR --- */

.bottombar{
  width: 100%;
  background: #1b1b1b;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding: 20px 150px;
  border-top: 0.7px solid white;
}

.app-store-logo {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
}

#social-media-logo {
  font-size: 20px;
  margin: 10px;
}

.social-media-link {
  text-decoration:none;
}

/* --- BUTTONS & LINKS --- */
.sign-up-button {
  height: 20px;
  width: 100px;
  background: #1b1b1b;
  color: #da64ab;
  border: 0.7px solid #da64ab;
  border-radius: 10px;
  font-size: 10px;
  margin-bottom:10px;
}

.sign-up-button:hover {
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  border: 0.7px solid #da64ab;
  box-shadow: 0 0 15px #750d79;
}

.edit-profile-circle {
  background: linear-gradient(90deg, #da64ab 0%, #750d79 100%);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border:none;
  outline:none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px -50px -20px;
}

.standard_a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: transform 0.5s;
}

.standard_a:hover {
  color: #da64ab;
  transform: scale(1.2, 1.2);

}

.three-dots{
  display:block;
  margin: 20px;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #da64ab;
  outline: none;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.dot:hover{
  background: #750d79;
}

@media (max-width:600px) {
  .three-dots{
    width: 100svw;
    display:block;
    justify-content:center;
  }
}
.round-previous {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline:none;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.invis-button {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  transition: transform 0.5s;
}

.invis-button:hover {
  color: #da64ab;
  transform: scale(1.2, 1.2);
}


/*--- OTHER ELEMENTS ---*/
hr {
  border: 0.5px solid #5B5555;
  width: 100%;
  margin: 0px;
}

.entry-text {
  display: flex;
  flex-direction:column;
  margin: 50px;
  padding: 50px;
}

/* --- STUDIO DIVS START VISIBILITY --- */
#add-classes,
#studio-classes-calendar,
#studio-classes-list,
#studio-credits,
#studio-edit {
  display: none;
}

.summary {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  /*border: 0.5px solid #5B5555;*/
  background-color: #424242;
  padding: 0px;
  text-align: left;
  margin-bottom: 20px;
}

.summary-inner01 {
  min-height:100%;
  padding: 2rem;
  justify-content: space-between;
  align-content: space-between;
}

.summary-three-infos {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap: 1rem;
}

.summary-inner02 {
  max-width:100%;
  max-height:100%;
  padding: 0px;
  margin:0px;
  justify-self: end;
}

.summary-photo {
  max-width:100%;
  max-height: 15rem;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.graph-div {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 15px;
  background: #323232;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: scroll;

}

.graphs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding: 10px 0px;
  margin: 0px;
}

.graph01 {
  display: flex;
  width: 95%;
  border-radius: 5px;
  /*border: 0.5px solid #5B5555;*/
  background-color: #424242;
  text-align: left;
  align-items: center;
  padding: 0px;
}

.graph01 i {
 padding: 10px;
 margin-right: 3px;
}

.graph-div2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding: 5px;
}
.graph-div2 a{
  font-size: 9px;
}

#studio-overview .half,
#studio-edit .half,
#add-classes .half,
#studio-classes-calendar .half,
#studio-classes-list .half,
#studio-credits .half {
  width: 80%;
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.second{
  margin-right: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 20px; overflow-y: scroll;
}

@media(max-width:600px) {
  .main-box {
    height: auto;
  }
  #studio-overview,
  #studio-edit,
  #add-classes,
  #studio-classes-calendar,
  #studio-classes-list,
  #studio-credits
  {
    height: auto;
  }

  #studio-overview .half,
  #studio-edit .half,
  #add-classes .half,
  #studio-classes-calendar .half,
  #studio-classes-list .half,
  #studio-credits .half
  {
    width: 100%;
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }

  .profile-menu {
    padding-left: 0px;
    padding-right: 0px;

  }
  .second {
    padding: 0px;
  }
  .second .calendar-heading-div {
    margin-top: 20px;
  }
  #calendar {
    padding: 0px;
    padding-bottom: 50px;
  }
  .calendar-days {
    transform: scale(0.85);
  }

  #classes-list {
    height: auto;
  }
  #list {
   padding-bottom: 100px;
  }

}
@media (orientation: portrait) and (min-width: 600px) {
  #studio-overview,
  #studio-edit,
  #add-classes,
  #studio-classes-calendar,
  #studio-classes-list,
  #studio-credits
  {
    height: auto;
    flex-direction: column;
    height: 85svh;
    width: 80svw;
    padding-bottom: 20px;
  }

  #studio-overview .half,
  #studio-edit .half,
  #add-classes .half,
  #studio-classes-calendar .half,
  #studio-classes-list .half,
  #studio-credits .half
  {
    width: 100%;
    border-top-right-radius: 1.875rem;
    border-bottom-left-radius: 0px;
    border-bottom: 0.5px solid #5B5555;
  }


}

/* --- SCROLLBAR --- */

/* width */
::-webkit-scrollbar {
    width: 0px;
  }

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-clip: padding-box;
  margin-top: 60px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #908397;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}