{% extends "sport/layout-studio.html" %}
{% block body %}

<!-- ----- ----- ----- STUDIO OVERVIEW ----- ----- ----- -->

<div class="main-box" id="studio-overview">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>

            </div>
             <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick="makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

    <!-- Studio overview -->
    <div class="half second">
        <div class="calendar-heading-div">
            <h3>Summary</h3>
        </div>

        <div class="summary">
            <div class="summary-inner01">
                <div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
                    <h3 style="margin-bottom:1.5rem;">Total number of<br>enrolled users:</h3>
                    <h1 style="font-size: 24px;">286</h1>
                </div>
                <div class="summary-three-infos">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h4 style="margin-bottom:0.5rem;">1,144</h4>
                            <h6>Credits<br>used</h6>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h4 style="margin-bottom:0.5rem;">98</h4>
                            <h6>Classes<br>completed</h6>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h4 style="margin-bottom:0.5rem;">98</h4>
                            <h6>Hours<br>exercised</h6>
                        </button>
                    </div>
                </div>
            </div>
            <div class="summary-inner02">
                {% load static %}
                <img src="{% static 'login-partner3.jpg' %}" class="summary-photo" alt="summary-photo">
            </div>
        </div>

        <div class="graph-div">
            <h3 style="align-self:start;">Engagement</h3>
            <div class="graphs">
                <div class="graph01">
                    <i class="fa-solid fa-users"></i>
                    <div class="graph-div2">
                        <h6>Enrolled users</h6>
                        <h5 style="margin-bottom:0.5rem;">1,144</h5>
                        <a href="" class="standard_a">See more</a>
                    </div>
                </div>
                <div class="graph01">
                    <i class="fa-solid fa-calendar"></i>
                    <div class="graph-div2">
                        <h6>Users' plans</h6>
                        <h5 style="margin-bottom:0.5rem;">1,144</h5>
                        <a href="" class="standard_a">See more</a>
                    </div>
                </div>
                <div class="graph01">
                    <i class="fa-solid fa-dumbbell"></i>
                    <div class="graph-div2">
                        <h6>Classes completed</h6>
                        <h5 style="margin-bottom:0.5rem;">98</h5>
                        <a href="" class="standard_a">See more</a>
                    </div>
                </div>
                <div class="graph01">
                    <i class="fa-solid fa-coins"></i>
                    <div class="graph-div2">
                        <h6>Credits used</h6>
                        <h5 style="margin-bottom:0.5rem;">1,144</h5>
                        <a href="" class="standard_a">See more</a>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>

<!-- ----- ----- ----- STUDIO EDIT ----- ----- ----- -->

<div class="main-box" id="studio-edit">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>

            </div>
             <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick="makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

    <!-- Edit info -->
    <div class="half second">
        <div class="calendar-heading-div">
            <h3>Studio information</h3>
        </div>

        <div class="edit-information-div" style="overflow-y:scroll;">
            <form action="{% url 'edit_profile_data' %}" method="post">
				{% csrf_token %}
				<div class="form-group2">
                    <label class="edit-info-label" for="studio_name">Studio name:</label>
					<input autofocus class="edit_data_from" type="text" name="studio_name" value="{{studio.studio_name}}">

                    <label class="edit-info-label" for="studio_type">Studio type:</label>
					<input autofocus class="edit_data_from" type="text" name="studio_type" value="{{studio.studio_type}}">

                    <label class="edit-info-label" for="city">City:</label>
                    <input class="edit_data_from" type="text" name="city" value="{{studio.studio_city}}">

                    <label class="edit-info-label" for="email">Email address:</label>
                    <input class="edit_data_from" type="text" name="email" value="{{request.user.email}}">

                    <label class="edit-info-label" for="address">Address:</label>
                    <input class="edit_data_from" type="text" name="address" value="{{studio.address}}">

                    <label class="edit-info-label" for="description">Description:</label>
                    <textarea name="description" class="edit_data_from" rows="7" cols="10">{{studio.description}}</textarea>


                    <label class="edit-info-label" for="studio_photo">Studio photo:</label>
                    <input class="edit_data_file" type="file" id="formFile" name="studio_photo" id="profile_photo">
                    <div style="width:100%; grid-column: 1/3; display:flex; align-items:center; justify-content:center;">
					    <input class="login-button" type="submit" value="Save edited information">
                    </div>
				</div>
			</form>

        </div>
    </div>

</div>

<!-- ----- ----- ----- ADD CLASSES ----- ----- ----- -->

<div class="main-box" id="add-classes">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick=" makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

    <!-- Add class -->
    <div class="half second">
        <div class="calendar-heading-div">
            <h3>Add new class</h3>
        </div>

        <div class="calendar" >
            <div style="width: 100%; padding: 50px 20px;">
                <p>Fill in the details in order to add a new class</p>

                <form action="{% url 'save_review' %}" method="post" style="width:100%; padding: 0px; margin:0px;">
                    {% csrf_token %}
                    <div class="form-group-review">
                        <label class="edit-info-label" for="class_name">Class name:</label>
					    <input autofocus class="edit_data_from" type="text" name="class_name">

                        <label class="edit-info-label" for="class_type">Class type:</label>
					    <input autofocus class="edit_data_from" type="text" name="class_type">

                        <label class="edit-info-label" for="class_date">Date:</label>
					    <input autofocus class="edit_data_from" type="date" name="class_date">

                        <label class="edit-info-label" for="class_duration">Class duration:</label>
					    <input autofocus class="edit_data_from" type="text" name="class_duration">

                        <label class="edit-info-label" for="class_name">Trainer:</label>
					    <input autofocus class="edit_data_from" type="text" name="class_name">

                        <label class="edit-info-label" for="price">Price:</label>
					    <input autofocus class="edit_data_from" type="number" name="price">

                        <label class="edit-info-label" for="description">Description:</label>
                        <textarea autofocus name="description" class="edit_data_from" rows="7" cols="10">Awesome!</textarea>

                        <div style="width:100%; grid-column: 1/3; display:flex; align-items:center; justify-content:center;">
                            <input class="login-button" type="submit" value="Submit the review" id="class_review_submit_button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- ----- ----- ----- STUDIO CALENDAR ----- ----- ----- -->

<div class="main-box" id="studio-classes-calendar">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick=" makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

        <!-- Calendar -->
        <div class="half second">
            <div class="calendar-heading-div">
                <h3>Studio classes</h3>
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <button class="simple-disactivated" onclick="makeStudioListVisible()">
                        <p>list</p>
                    </button>
                    <button class="simple" onclick="makeStudioCalendarVisible()">
                        <p>month</p>
                    </button>
                </div>
            </div>

            <div class="calendar" id="calendar">
                <div class="calendar-title">
                    <button class="small-button" id="previous-month-button">
                        <i class="fa-solid fa-caret-left"></i>
                    </button>
                    <h3 id="month-name">{{ month_name }}</h3>
                    <h3 id="year-number">{{ year_number }}</h3>
                    <button class="small-button" id="next-month-button">
                        <i class="fa-solid fa-caret-right"></i>
                    </button>
                </div>
                <div class="calendar-days">
                    <!-- days of the week -->
                    <div class="day-name"> Mon </div>
                    <div class="day-name"> Tue </div>
                    <div class="day-name"> Wed </div>
                    <div class="day-name"> Thu </div>
                    <div class="day-name"> Fri </div>
                    <div class="day-name"> Sat </div>
                    <div class="day-name"> Sun </div>
                    <!-- previous month days -->
                    {% for i in previous_days_list %}
                    <div class="day2">{{i}}</div>
                    {% endfor %}
                    <!-- current month days -->
                    {% for i in days_in_month_list %}
                    {% if i == day_number %}
                    <div class="today" id="{{i}}">
                        <button class="simple" onclick="showClassesForTheDay({{i}})">
                        {{i}}
                        {% if i in days_with_classes %}
                        <i class="fa-solid fa-circle" style="font-size:0.4rem; color:#7eda64;"></i>
                        {% else %}
                        <i class="fa-regular fa-circle" style="font-size:0.4rem; color: #818181;"></i>
                        {% endif %}
                        </button>
                    </div>
                    {% else %}
                    <div class="day" id="{{i}}">
                        <button class="simple" onclick="showClassesForTheDay({{i}})">
                        {{i}}
                        {% if i in days_with_classes %}
                        <i class="fa-solid fa-circle" style="font-size:0.4rem; color:#7eda64;"></i>
                        {% else %}
                        <i class="fa-regular fa-circle" style="font-size:0.4rem; color: #818181;"></i>
                        {% endif %}
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- future month days -->
                    {% for i in future_days_list %}
                    <div class="day2">{{i}}</div>
                    {% endfor %}
                </div>
                <br>
                <!-- classes that day -->

            <div class="class-info-calendar" id="class-info-calendar">
                <h5>You haven't signed up for any classes for this day.</h5>
            </div>


            </div>
        </div>

</div>

<!-- ----- ----- ----- CLASSES LIST ----- ----- ----- -->

<div class="main-box" id="studio-classes-list">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick=" makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

    <!-- Studio classes -->
    <div class="half second">
        <div class="calendar-heading-div">
            <h3>Your classes</h3>
            <div style="display: flex; flex-direction: row; gap: 8px;">
                <button class="simple" onclick="makeClassesListVisible()">
                    <p>list</p>
                </button>
                <button class="simple-disactivated" id="month_button" onclick="makeProfileCalendarVisible()">
                    <p>month</p>
                </button>
            </div>
        </div>

        <div class="list" id="list">

            <!-- FUTURE CLASSES -->
            <h4 style="width:100%;justify-self: start;">Upcoming classes</h4>

            {% for i in user_classes %}

                {% if i.get_date_simple > now_date_for_comparison %}
                <div class="class-info-calendar" id="class-info-calendar">
                    <div>
                        <h5>{{i.get_hour}}</h5>
                        <h6>{{i.duration}} min</h6>
                    </div>
                    <div>
                        <h4>{{i.name}}</h4>
                        <h6 style="font-weight: 400;">
                            {{i.get_class_rating}}
                            <i class="fa-solid fa-star"></i>
                        </h6>
                    </div>
                    <div>
                        <h5>{{i.studio.name}}</h5>
                        <h6>{{i.address}}</h6>
                    </div>
                    <div>
                        <button class="sign-up-button" id="class-details-button">See details</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <!-- message if there are no future classes -->
            {% if user.get_number_classes_upcoming == 0 %}
            <p style="width:100%;justify-self: start; color:grey;">
                There aren't any upcoming classes.
                <a href="{% url 'index' %}" style="color:grey">Search</a>
                classes to sign up.
            </p>
            {% endif %}

            <!-- PAST CLASSES -->
            <h4 style="width:100%;justify-self: start;">Past classes</h4>
            {% for i in user_classes %}
                {% if i.get_date_simple < now_date_for_comparison %}
                <div class="class-info-calendar" id="class-info-calendar" style="border-color:grey;">
                    <div>
                        <h5>{{i.get_hour}}</h5>
                        <h6>{{i.duration}} min</h6>
                    </div>
                    <div>
                        <h4>{{i.name}}</h4>
                        <h6 style="font-weight: 400;">
                            {{i.get_class_rating}}
                            <i class="fa-solid fa-star"></i>
                        </h6>
                    </div>
                    <div>
                        <h5>{{i.studio.name}}</h5>
                        <h6>{{i.address}}</h6>
                    </div>
                    <div>
                        <button class="sign-up-button" id="add-review-button" onclick="makeAddReviewPanelVisible({{i.id}})">Add review</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            <!-- message if there are no past classes -->
            {% if user.get_number_classes_taken == 0 %}
            <p style="width:100%;justify-self: start; color:grey;">
                There aren't any past classes.
                <a href="{% url 'index' %}" style="color:grey">Search</a>
                classes to sign up.
            </p>
            {% endif %}




        </div>
    </div>

</div>

<!-- ----- ----- ----- STUDIO CREDITS ----- ----- ----- -->

<div class="main-box" id="studio-credits">
    <!-- Profile overview -->
    <div class="half">
        <div class="profile-menu">
            <div class="profile-menu-div">
                <img src="{{studio.studio_photo.url}}" class="profile-picture" alt="studio picture">
                <button class="edit-profile-button" onclick="makeStudioEditVisible()">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <br>
                <h4>@{{studio.studio_name}}</h4>
                <h6>{{studio.owner_fr_name}} {{studio.owner_lt_name}}</h6>
                <h5>
                    <i class="fa-solid fa-location-dot"></i>
                    {{studio.studio_city}}, PL
                </h5>
                <br>

                <div style="width:100%; display:flex; flex-direction:row; justify-content:space-around;">
                    <div class="small-middle">
                        <button onclick ="makeStudioCalendarVisible()" class="simple">
                            <h6>Classes<br>calendar</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioListVisible()" class="simple">
                            <h6>Classes<br>list</h6>
                            <h5>{{studio.get_number_classes}}</h5>
                        </button>
                    </div>
                    <div class="small-middle">
                        <button onclick="makeStudioCreditsVisible()" class="simple">
                            <h6>Current<br>revenue</h6>
                            <h5>{{studio.get_number_credits}}</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile-menu-div">
                <div class="small-middle">
                    <button class="simple" onclick="makeStudioEditVisible()">
                        <i class="fa-solid fa-pen"></i>
                        <h5>Edit profile</h5>
                    </button>
                </div>
                <div class="small-middle">
                    <button class="simple" onclick=" makeAddClassPanelVisible()">
                        <i class="fa-solid fa-calendar-plus"></i>
                        <h5>Add classes</h5>
                    </button>
                </div>
            </div>
            <div class="profile-menu-div">
                <a href="{% url 'credits' %}" class="standard_a">How FlexFit works</a>
            </div>
        </div>
    </div>

    <!-- Studio credits -->
    <div class="half second">
        <div class="calendar-heading-div">
            <h3>Studio credits</h3>
        </div>

        <div class="edit-information-div" style="overflow-y:scroll;">
            <form action="{% url 'edit_profile_data' %}" method="post">
				{% csrf_token %}
				<div class="form-group2">
                    <label class="edit-info-label" for="studio_name">Studio name:</label>
					<input autofocus class="edit_data_from" type="text" name="studio_name" value="{{studio.studio_name}}">

                    <label class="edit-info-label" for="studio_type">Studio type:</label>
					<input autofocus class="edit_data_from" type="text" name="studio_type" value="{{studio.studio_type}}">

                    <label class="edit-info-label" for="city">City:</label>
                    <input class="edit_data_from" type="text" name="city" value="{{studio.studio_city}}">

                    <label class="edit-info-label" for="email">Email address:</label>
                    <input class="edit_data_from" type="text" name="email" value="{{request.user.email}}">

                    <label class="edit-info-label" for="address">Address:</label>
                    <input class="edit_data_from" type="text" name="address" value="{{studio.address}}">

                    <label class="edit-info-label" for="description">Description:</label>
                    <textarea name="description" class="edit_data_from" rows="7" cols="10">{{studio.description}}</textarea>


                    <label class="edit-info-label" for="studio_photo">Studio photo:</label>
                    <input class="edit_data_file" type="file" id="formFile" name="studio_photo" id="profile_photo">
                    <div style="width:100%; grid-column: 1/3; display:flex; align-items:center; justify-content:center;">
					    <input class="login-button" type="submit" value="Save edited information">
                    </div>
				</div>
			</form>

        </div>
    </div>

</div>

<!-- ----- ----- ----- END ----- ----- ----- -->


{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'sport/sport.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
{% endblock %}
